@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: solid red; */
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    color: black;
    background-color: #70758e;
}

img {
    width: 30px;
    height: auto;
}

nav {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #293042;
    box-shadow: 3px 3px 5px 0px rgba(18, 20, 27, 0.377);
}

.logo {
    font-size: 50px;
    margin-left: 170px;
}